#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 5px;
}

.box {
  background: green;
  color: white;
  padding: 10px;
}

/* Layout */

.b1 {
  grid-column: span 4;
}

.b2 {
  grid-row: span 4;
}

.b3 {
  grid-column: span 1;
}

.b4 {
  grid-column: span 2;
}

.b5 {
  grid-column: span 2;
}

.b6 {
  grid-column: span 1;
}

.b7 {
  grid-column: span 1;
}

.b8 {
  grid-column: span 1;
}

.b9 {
  grid-column: span 1;
}

.b10 {
  grid-column: span 3;
}